<p-toast></p-toast>

<app-login-dialog
  [isDialogVisible]="displayLoginDialog"
  (login)="onLogin($event)"
  (dialogClose)="onDialogClose()"
></app-login-dialog>

<div class="flex flex-col h-auto gap-4">
  <p-toolbar
    [style]="{ 'border-radius': '3rem', padding: '1rem 1rem 1rem 1.5rem' }"
    class="bg-white shadow-2"
  >
    <!-- Left section -->
    <ng-template #start>
      <div class="flex items-center gap-2">
        <img
          src="assets/logo.png"
          alt="Logo"
          class="logo mr-1"
          height="40"
          (click)="onGoHome()"
        />
      </div>
      <p-menu #menu1 [model]="menuKina" [popup]="true"></p-menu>
      <p-button
        label="FILM"
        styleClass="p-button-text mr-2"
        (click)="navigateToFilms()"
      ></p-button>
      <p-button
        label="DOGAĐAJI"
        styleClass="p-button-text mr-2"
        (click)="navigateToProjections()"
      ></p-button>
      <p-button
        label="KINA"
        icon="pi pi-map-marker"
        (click)="menu1.toggle($event)"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>

    <!-- Right section -->
    <ng-template #end>
      <p-button icon="pi pi-search" styleClass="p-button-text mr-3" />
      <p-menu #menu [model]="userMenuItems()" [popup]="true"></p-menu>
      <p-button
        icon="pi pi-user"
        [label]="userName()"
        (click)="menu.toggle($event)"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
  </p-toolbar>
</div>
