<div class="grid">
  @for (movie of movies; track movie.id) {
  <div class="movie-card">
    <!-- <a [routerLink]="['/my-movies', movie.id]"> -->
    <a (click)="onClickMovie(movie.id)">
      <!-- <span class="overlay"></span> -->
      <img [src]="movie.posterImage" [alt]="movie.title" />
    </a>
    <h3>{{ movie.title }}</h3>
    <div class="screening-times">
      @for (time of movie.genres; track time) {
      <span class="time-badge">{{ time }}</span>
      }
    </div>
  </div>
  } @empty {
  <div class="empty-message">{{ emptyMessage }}</div>
  }
</div>
