<p-select
  [options]="formattedDates()"
  optionLabel="label"
  optionValue="value"
  [(ngModel)]="selectedDate"
  (onChange)="onChangeDate($event)"
  class="w-64 rounded-xl shadow-md border-gray-300"
  placeholder="Odaberite datum"
  [panelStyle]="{ borderRadius: '0.75rem' }"
>
  <!-- <ng-template #dropdownicon>
    <i class="pi pi-calendar text-gray-500"></i>
  </ng-template> -->
  <ng-template #selecteditem let-item>
    <i class="pi pi-calendar" style="margin-right: 0.5rem; color: #6b7280;"></i>
    <span>{{ item }}</span>
  </ng-template>
</p-select>
