<div class="grid grid-flow-col grid-rows-4 gap-4 min-h-dvh">
  <div class="row-span-3 bg-slate-300">
    <div class="grid grid-cols-12 h-full gap-1 md:gap-4">
      <div class="col-span-12 md:col-span-8 md:col-start-2 bg-slate-200">
        <div class="flex w-full h-full justify-center items-center">01-A</div>
      </div>
      <div class="hidden md:block md:col-span-2 bg-slate-200">
        <div class="flex w-full h-full justify-center items-center">01-B</div>
      </div>
    </div>

    <!-- <div class="flex w-full h-full justify-center items-center">01</div> -->
  </div>
  <div class="row-span-1 bg-slate-300">
    <div class="flex w-full h-full justify-center items-center">02-A</div>
  </div>
</div>
