<div class="card flex justify-left">
  <p-breadcrumb class="max-w-full" [model]="items()" [home]="home" />
</div>
@if (film()) {
  @if (level()==0) {
    <div class="grid grid-cols-12 gap-4 mt-4">
      <div class="col-span-3 md:col-span-3 lg:col-span-2 xl:col-span-2">
        <div class="flex justify-center mb-4">
          <img
            [src]="film()?.image"
            alt=""
            class="w-full max-w-md rounded-lg shadow-lg"
          />
        </div>
      </div>
      <div class="col-span-9 md:col-span-9 lg:col-span-10 xl:col-span-10">
        <h1 class="text-3xl font-bold text-primary mb-4">{{ film()?.title }}</h1>
        <h4 class="font-bold text-primary mb-1">Žanr: {{ film()?.genre}}</h4>
        <h4 class="font-bold text-primary mb-1">
          Trajanje: {{ film()?.duration}} min
        </h4>
        <h4 class="font-bold text-primary mb-1">Kino: {{ location()?.name}}</h4>
        <h4 class="font-bold text-primary mb-1">
          Adresa: {{ location()?.address}}
        </h4>
        <h4 class="font-bold text-primary mb-1">
          Dvorana: {{ hall()?.description}}, {{hall()?.type}}
        </h4>
        <div class="card flex justify-end items-center gap-2">
          <!-- Dugme za smanjenje -->
          <p-button
            (onClick)="onMinus()"
            class="p-button-rounded p-button-sm bg-gray-200 text-gray-700 hover:bg-gray-300"
            icon="pi pi-minus"
          >
          </p-button>

          <!-- Prikaz broja karata -->
          <p class="w-16 text-center text-lg font-semibold">{{ brojKarata() }}</p>

          <!-- Dugme za povećanje -->
          <p-button
            (onClick)="onPlus()"
            class="p-button-rounded p-button-sm bg-gray-200 text-gray-700 hover:bg-gray-300"
            icon="pi pi-plus"
          >
          </p-button>
        </div>
      </div>
    </div>
  }
  @switch (level()) {
    @case (1) {
      <app-seat-reservation></app-seat-reservation>
    }
    @case (2) {
      <div class="card flex justify-left mt-4">
        <h1 class="text-3xl font-bold text-primary mb-4">Opis filma</h1>
        <p class="text-lg text-gray-700">{{ film()?.description }}</p>
      </div>
    }
    @case (3) {
      <div class="card flex justify-left mt-4">
        <h1 class="text-3xl font-bold text-primary mb-4">Opis filma</h1>
        <p class="text-lg text-gray-700">{{ film()?.description }}</p>
      </div>
    }
  }

}

<div class="flex justify-center mt-4">
  <p-button
    label="Nazad"
    icon="pi pi-times"
    [disabled]="level() === 0"
    class="p-button-rounded p-button-sm bg-primary text-white hover:bg-primary ml-2"
    (onClick)="onNazad()"
  ></p-button>
  <p-button
    label="Dalje"
    [disabled]="brojKarata() === 0"
    icon="pi pi-check"
    class="p-button-rounded p-button-sm bg-primary text-white hover:bg-primary-dark ml-8"
    (onClick)="onDalje()"
  ></p-button>
</div>

<!-- @if (film()) {
  <div class="card flex justify-left mt-4">
    <h1 class="text-3xl font-bold text-primary mb-4">Opis filma</h1>
    <p class="text-lg text-gray-700">{{ film()?.description }}</p>
  </div>
} -->
