@if(!state.loadingStates.modes() || !state.loadingStates.locations()) {
<div class="card m-0 p-0">
  <p-tabs
    [value]="category()"
    (valueChange)="changeCategory($event)"
    styleClass="align-content-center bg-green-500"
  >
    <p-tablist class="justify-center items-center text-center">
      <p-tab value="top"> TOP FILMOVI </p-tab>
      <p-tab value="now"> DANAS U KINU </p-tab>
      <p-tab value="upcoming"> USKORO U KINU </p-tab>
    </p-tablist>
    <div class="flex justify-end m-4">
      @if (!state.isUpcoming()) {
      <app-location-select class="mx-4"
        [selectedIdLocation]="selectedIdLocation()"
        (selectedChange)="setLocation($event)"
      />
      }
      <app-day-select></app-day-select>
    </div>

    <app-movies-list [movies]="state.movies()" />
  </p-tabs>
</div>
}
