
  <div class="flex justify-end items-center sm:mt-6 mt-20 gap-4 mb-4 p-4">
    <app-select-date></app-select-date>
    <app-select-location></app-select-location>
  </div>
<!-- Prikaz projekcija -->
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-4 p-3">
  <p-card
    *ngFor="let projection of projections()"
    class="shadow-lg hover:shadow-xl transition-shadow duration-300"
    [header]="getFilmTitle(projection.filmId)"
    [subheader]="'Sala: ' + projection.hallId"
  >
    <ng-template pTemplate="content">
      <div class="flex flex-col gap-2">
        <img
          [src]="getFilmById(projection.filmId)?.image"
          alt="Poster"
          class="w-full h-48 object-cover rounded-md"
        />
        <p class="text-gray-600">
          🕒 {{ projection.dateTime | date : "shortTime" }}<br />
          💰 Cijena: {{ projection.price }} KM
        </p>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <button
        pButton
        label="Detalji"
        class="p-button-outlined p-button-sm"
        (click)="viewDetails(projection.filmId)"
      ></button>
    </ng-template>
  </p-card>
</div>

<!-- Poruka kada nema projekcija -->
<ng-template #noProjections>
  <p class="text-center text-gray-500">
    Nema dostupnih projekcija za odabrani dan i salu.
  </p>
</ng-template>
