<div class="mx-auto max-w-7xl px-4 bg-neutral-800 text-white rounded-xl"
[style.maxWidth.px]="(seatPlan()?.rowsMax ?? 0) * 40 - 50" >
  @if (seatPlan() && seatPlan()?.rowsMax) {
  <!-- <div class="flex justify-center mb-4">
    <span class="text-lg font-semibold"
      >Total Seats: {{ seatPlan()?.rowsMax }}</span
    >
  </div> -->
  } @if (seatsView() && seatsView().length > 0) { @let colsCount =
  seatPlan()?.rowsMax ?? 0; @let svgWidth = colsCount * 24 + 56;

  <div class="flex justify-center items-center p-0 pt-8">
    <svg
      [attr.width]="svgWidth"
      height="60"
      [attr.viewBox]="'0 0 ' + svgWidth + ' 40'"
    >
      <path
        [attr.d]="
          'M 10 30 Q ' + svgWidth / 2 + ' -30 ' + (svgWidth + 10) + ' 30'
        "
        stroke="white"
        stroke-width="6"
        fill="none"
      />
    </svg>
  </div>
  <div class="text-center text-red-900 font-bold mb-8">E K R A N</div>
  @for (row of seatsView(); track row;) { @if (row && row.length > 0) {
  <div
    class="flex flex-row items-center justify-center p-2 transition-all duration-300 group"
  >
    <h3 class="text-white font-medium font-serif text-center w-8 my-0 mx-6 p-0 transition-colors group-hover:text-red-500">
      {{ row[0].rowName }}
    </h3>
    @for (seat of row; track seat.columnIndex) {
    <div class="flex">
      @if (seat.icon) {
      <img
        [src]="seat.icon"
        [alt]="seat.id"
        class="w-6 h-6 object-contain cursor-pointer transition-all duration-300 hover:brightness-75 hover:scale-110 hover:border-2 hover:border-red-500 hover:shadow-lg hover:shadow-blue-500/50"
        (click)="toggleSeat(seat)"
        [class.cursor-not-allowed]="seat.status === 1"
        [class.cursor-pointer]="seat.status === 0"
      />
      } @else {
      <div class="w-6 h-6"></div>
      }
    </div>
    }
  </div>
  } @else {
  <div class="bg-black w-24">
    <p class="text-white">No seats available</p>
  </div>
  } } }
</div>
<!-- <div
  class="grid gap-0 bg-black mx-12"
  [style.gridTemplateColumns]="
    'repeat(' + (seatPlan() ? seatPlan()!.rowsMax : 0) + ', minmax(2rem, 1fr))'
  "
>

  @for (row of seatsWithIcons(); track row) {
  <ul class="contents">
    @for (index of cols.reverse(); track index) {
    <li
      class="flex items-center justify-center h-8 w-8 border border-gray-700 bg-gray-800 text-white"
      [class.bg-gray-600]="findSeatByColumnIndex(row, index)?.disabled"
      [class.cursor-not-allowed]="findSeatByColumnIndex(row, index)?.disabled"
      [class.cursor-pointer]="!findSeatByColumnIndex(row, index)?.disabled"
    >
      @if (findSeatByColumnIndex(row, index)) {
      <div class="flex items-center justify-center w-8 h-8 m-0 p-0">
        <img
          [src]="findSeatByColumnIndex(row, index)?.icon"
          [alt]="findSeatByColumnIndex(row, index)?.id"
          class="w-8 h-8 object-contain cursor-pointer transition-all duration-300 hover:brightness-75 hover:scale-110 hover:border-2 hover:border-red-500 hover:shadow-lg hover:shadow-blue-500/50"
          (click)="toggleSeat(findSeatByColumnIndex(row, index))"
        />
      </div>
      } @else {
      <div class="w-8 h-8"></div>
      }
    </li>
    }
  </ul>
  }
</div> -->
